# Appear Here Test

Pauline Guilmin

January 2019

# import libraries

In [7]:
import numpy as np 
import pandas as pd

In [8]:
!pwd

/Users/paguilmin/Documents/AppearHere_Test/analysis

# Charge data

In [51]:
path = '../data/'
ideas = pd.read_csv(path+'ideas.csv',sep=',')
transitions = pd.read_csv(path+'transitions.csv',sep=',')

## cleaning

In [52]:
ideas = ideas.drop(['Unnamed: 0'],axis=1)
transitions.columns
transitions = transitions.drop(['Unnamed: 0'],axis=1)

In [113]:
transitions.loc[:,'transition_ts'] = pd.to_datetime(transitions.loc[:,'transition_ts'])
ideas.loc[:,'created_at'] = pd.to_datetime(ideas.loc[:,'created_at'])

# useful fonctions

In [121]:
def top_champ(df,feature,number) :
    df_ok = df.copy()
    df_ok[feature] = df_ok[feature].fillna('unknown')
    top_10 = df_ok.groupby(feature).agg('size').sort_values(ascending=False).to_frame().reset_index()
    top_10.columns=[str(x) for x in feature]+['nb_records']
    top_10['percentage']=(100.* (top_10['nb_records'] / top_10['nb_records'].sum())).round(2)
    print('%0.0f distinct values for the feature %s' %(top_10.shape[0],feature))
    return top_10.head(number)

# ideas exploration

In [122]:
ideas.nunique()

created_at    4000
category         6
idea_id       4000
dtype: int64

In [123]:
top_champ(ideas,['category'],10)

6 distinct values for the feature ['category']

        category  nb_records  percentage
0     popup_shop        2174       54.35
1  private_event         546       13.65
2      popup_bar         533       13.32
3         unique         398        9.95
4        gallery         282        7.05
5    sample_sale          67        1.68

In [126]:
min_created = min(ideas['created_at'])
print(min_created)
max_created = max(ideas['created_at'])
print(max_created)
#print('Ideas have been created from % to %t' %(min_created, max_created))

2018-01-01 17:01:01.489000
2019-01-21 10:19:35.205000

In [56]:
transitions.nunique()

transition_ts         21062
category                  6
idea_id                2677
booking_request_id     9942
to_state                  4
space_id               2065
country                   3
city                    110
portfolio_type            9
floor_size              548
floor_size_unit           2
start_on                504
end_on                  620
price                  3593
dtype: int64

In [81]:
transitions = transitions.sort_values(['idea_id','space_id','transition_ts'])

In [101]:
total = pd.merge(ideas, transitions, how='left', left_on='idea_id',right_on='idea_id')

In [104]:
total_first = total.drop_duplicates('idea_id')
top_champ(total_first,'to_state','size',10)
total_first.loc[:,'transition_ts'] = pd.to_datetime(total_first.loc[:,'transition_ts'])
total_first.loc[:,'created_at'] = pd.to_datetime(total_first.loc[:,'created_at'])
total_first.loc[:,'time_after_creation'] = total_first.loc[:,'transition_ts']- total_first.loc[:,'created_at']
total_first.loc[:,'time_after_creation'] = total_first.loc[:,'time_after_creation']/ np.timedelta64(1, 's')

/anaconda/envs/ah_test_env/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/anaconda/envs/ah_test_env/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [109]:
total_first.loc[:,'time_after_creation'].describe()
total[total['category_x']!=total['category_y']]
total[total['category_y'].isnull()]
#idem
# 1323 ideas without

,created_at,category_x,idea_id,transition_ts,category_y,booking_request_id,to_state,space_id,country,city,portfolio_type,floor_size,floor_size_unit,start_on,end_on,price,to_state_bf,to_state_af
0,2018-12-27 12:41:08.799,popup_shop,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-30 03:34:03.555,popup_shop,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-18 13:56:33.655,unique,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2018-05-11 10:37:40.444,popup_bar,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2019-01-17 11:05:49.420,private_event,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2018-03-27 09:25:03.348,popup_shop,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2019-01-11 19:20:54.258,popup_shop,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2018-02-26 04:13:32.148,popup_bar,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2019-01-20 04:52:06.229,popup_bar,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2018-07-18 07:47:10.923,popup_shop,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2018-04-18 09:52:28.150,popup_shop,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,2018-11-13 07:12:06.942,popup_shop,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2018-04-30 16:34:30.897,unique,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,2018-03-07 13:46:31.621,popup_bar,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,2018-09-05 06:36:02.034,popup_shop,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2018-07-10 10:52:12.732,popup_shop,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2018-02-21 15:10:42.053,popup_shop,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2018-03-18 18:36:41.847,popup_bar,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,2018-07-05 15:09:14.890,popup_shop,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,2018-01-18 10:56:41.280,popup_bar,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,2018-08-05 13:23:27.270,popup_shop,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,2018-06-28 10:32:40.079,popup_shop,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,2018-10-24 14:43:21.601,unique,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,2018-06-27 21:51:32.877,popup_shop,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,2018-04-30 11:20:43.062,popup_shop,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2018-01-07 16:56:28.919,gallery,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,2018-05-23 00:42:14.473,unique,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,2018-02-22 21:01:49.968,popup_bar,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,2018-09-04 08:29:13.078,popup_shop,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,2018-01-19 05:02:36.224,popup_bar,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21931,2018-06-04 13:26:24.908,popup_bar,3917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21956,2018-01-26 08:29:10.407,popup_bar,3921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21957,2018-04-27 12:50:47.314,popup_bar,3922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21960,2018-10-02 13:55:09.525,popup_shop,3924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22020,2018-02-20 13:57:31.537,popup_shop,3928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22080,2018-05-02 14:15:04.962,unique,3936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22087,2018-01-17 17:47:22.198,popup_shop,3939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22088,2018-01-19 07:33:31.261,popup_shop,3940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22089,2019-01-19 23:00:18.347,unique,3941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22102,2018-02-04 21:19:25.314,gallery,3944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22103,2018-06-20 18:34:25.496,private_event,3945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22104,2018-01-13 20:04:28.139,popup_bar,3946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22105,2018-02-06 12:41:42.387,popup_bar,3947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22147,2018-05-27 17:53:18.948,popup_shop,3953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22189,2018-06-18 09:01:13.658,popup_shop,3960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22190,2018-01-31 21:22:22.561,popup_shop,3961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22191,2018-04-12 09:56:25.343,popup_shop,3962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22248,2018-03-02 04:59:56.302,popup_bar,3967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22249,2018-07-02 13:57:05.136,popup_shop,3968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22252,2018-01-06 17:21:01.551,popup_shop,3970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22267,2018-09-17 22:08:51.227,popup_shop,3974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22268,2018-01-22 13:35:10.214,gallery,3975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22273,2018-05-04 18:31:10.547,popup_shop,3978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22291,2018-03-13 17:49:04.506,popup_shop,3982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22293,2019-01-16 14:55:14.381,popup_shop,3984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22294,2018-06-19 11:04:26.142,unique,3985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22295,2018-06-02 10:12:50.514,popup_shop,3986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22317,2018-06-20 11:01:54.520,popup_shop,3991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22320,2018-05-19 20:47:28.185,gallery,3993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22339,2018-02-16 19:03:28.210,popup_bar,3995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
states_ideas = transitions.groupby(['idea_id','to_state']).agg('size').to_frame().reset_index()
idea_id_booked = states_ideas.loc[states_ideas['to_state']=='booked','idea_id'].unique()
print('Above 4000 ideas %0.0f ideas have been booked at least one time' %len(idea_id_booked))
#states_ideas[states_ideas['idea_id'].isin(idea_id_booked)]

Above 4000 ideas 328 ideas have been booked

In [83]:
transitions['to_state_bf']= transitions['to_state'].shift(1)
transitions['to_state_af']= transitions['to_state'].shift(-1)

In [91]:
top_champ(transitions[transitions['to_state']=='matched'],'to_state_af','size',10)

  to_state_af     0
0    declined  2125
1      booked   388
2   submitted   117
3     matched    64

In [85]:
transitions[(transitions['to_state']=='booked') &
           (transitions['to_state_bf']=='declined')]

,transition_ts,category,idea_id,booking_request_id,to_state,space_id,country,city,portfolio_type,floor_size,floor_size_unit,start_on,end_on,price,to_state_bf,to_state_af
463,2018-10-24 13:51:03.343,popup_shop,105,168132,booked,5562,GB,London,4.0,10,0,2018-12-07 00:00:00,2018-12-14 00:00:00,12000,declined,booked
1182,2018-03-22 18:25:29.150,gallery,230,121128,booked,3090,GB,London,3.0,350,0,2018-05-08 00:00:00,2018-05-10 00:00:00,37500,declined,declined
1294,2018-08-07 08:52:20.723,private_event,245,144596,booked,715,GB,London,8.0,2520,0,2018-09-19 00:00:00,2018-09-20 00:00:00,200000,declined,submitted
1601,2018-03-22 16:50:15.592,popup_shop,323,124130,booked,5454,GB,London,7.0,320,0,2018-03-28 00:00:00,2018-04-30 00:00:00,255380,declined,submitted
2194,2018-02-02 17:12:22.380,gallery,430,114309,booked,5419,US,New York,3.0,400,0,2018-03-03 00:00:00,2018-03-03 00:00:00,18500,declined,declined
2305,2019-01-17 12:49:27.692,popup_bar,449,176992,booked,383,GB,London,2.0,20,0,2018-12-24 00:00:00,2019-01-13 00:00:00,262500,declined,submitted
2309,2018-06-12 12:23:37.627,popup_shop,451,141756,booked,5915,GB,London,3.0,800,0,2018-07-10 00:00:00,2018-07-11 00:00:00,64000,declined,submitted
4411,2018-11-13 14:39:51.967,sample_sale,834,170877,booked,3936,GB,London,7.0,250,0,2018-11-23 00:00:00,2018-11-25 00:00:00,100500,declined,submitted
4713,2018-10-15 11:27:55.479,gallery,902,151967,booked,960,GB,London,8.0,958,0,2018-04-09 00:00:00,2018-04-09 00:00:00,500000,declined,submitted
4817,2018-12-06 12:06:37.515,popup_shop,917,177506,booked,6935,GB,London,3.0,1100,0,2018-12-05 00:00:00,2018-12-19 00:00:00,267870,declined,submitted
5672,2018-05-23 15:49:11.629,private_event,1094,131275,booked,2575,GB,London,3.0,602,0,2018-10-04 00:00:00,2018-10-04 00:00:00,19500,declined,submitted
5866,2018-10-11 13:51:56.963,popup_shop,1154,165202,booked,5563,GB,London,4.0,10,0,2018-12-05 00:00:00,2018-12-05 00:00:00,4000,declined,submitted
6873,2018-11-13 13:56:38.696,popup_shop,1335,172984,booked,4912,GB,London,4.0,50,0,2018-12-21 00:00:00,2018-12-21 00:00:00,6000,declined,booked
6870,2018-11-13 12:50:27.296,popup_shop,1335,172985,booked,5563,GB,London,4.0,10,0,2018-11-21 00:00:00,2018-11-21 00:00:00,4000,declined,submitted
7902,2018-12-18 17:59:56.427,gallery,1535,179398,booked,2073,GB,London,8.0,1800,0,2018-11-16 00:00:00,2018-11-18 00:00:00,750000,declined,declined
8729,2018-11-30 16:37:41.319,popup_shop,1692,177084,booked,5563,GB,London,4.0,10,0,2018-12-05 00:00:00,2018-12-05 00:00:00,4000,declined,booked
8734,2019-01-16 11:56:59.748,popup_bar,1698,175869,booked,368,GB,London,2.0,594,0,2019-03-25 00:00:00,2019-03-31 00:00:00,175000,declined,submitted
9247,2018-06-08 08:55:14.231,popup_shop,1794,138705,booked,5790,GB,London,3.0,515,0,2018-07-09 00:00:00,2018-07-16 00:00:00,243390,declined,submitted
9936,2018-10-10 08:30:08.976,popup_shop,1919,156528,booked,2288,GB,Liverpool,0.0,50,0,2018-10-28 00:00:00,2018-11-10 00:00:00,74900,declined,submitted
11224,2018-06-13 08:43:16.184,unique,2161,121383,booked,5573,GB,London,8.0,40,0,2018-07-02 00:00:00,2018-10-02 00:00:00,657200,declined,declined
11541,2018-09-17 09:37:00.952,private_event,2214,152579,booked,6268,GB,London,7.0,2800,0,2018-09-14 00:00:00,2018-09-16 00:00:00,150000,declined,submitted
14495,2018-10-11 13:00:49.626,popup_shop,2789,165629,booked,5562,GB,London,4.0,10,0,2018-12-07 00:00:00,2018-12-14 00:00:00,12000,declined,booked
14780,2018-08-15 15:41:37.711,unique,2846,151876,booked,2053,GB,London,3.0,500,0,2018-08-17 00:00:00,2018-08-24 00:00:00,262314,declined,submitted
15718,2018-05-11 07:20:25.802,popup_shop,3034,134084,booked,2575,GB,London,3.0,602,0,2018-10-16 00:00:00,2018-10-19 00:00:00,78000,declined,submitted
16471,2018-02-28 13:14:32.567,popup_shop,3183,120432,booked,2526,FR,Paris,3.0,180,1,2018-04-06 00:00:00,2018-04-08 00:00:00,540000,declined,declined
17244,2018-09-17 11:41:36.658,popup_shop,3329,153792,booked,2103,GB,Brighton,8.0,410,0,2018-11-23 00:00:00,2018-11-25 00:00:00,70500,declined,declined
18057,2018-11-29 22:14:18.871,popup_shop,3510,170385,booked,6050,GB,London,3.0,800,0,2018-12-05 00:00:00,2018-12-09 00:00:00,250000,declined,declined
20063,2018-10-23 12:58:07.494,popup_shop,3791,153947,booked,1771,FR,Paris,3.0,43,1,2018-12-13 00:00:00,2018-12-16 00:00:00,120000,declined,submitted
20360,2018-12-11 10:00:08.115,popup_shop,3861,178528,booked,6341,GB,Manchester,4.0,30,0,2018-12-13 00:00:00,2018-12-21 00:00:00,12000,declined,submitted
20540,2018-10-24 13:47:11.614,popup_shop,3896,167626,booked,5562,GB,London,4.0,10,0,2018-11-02 00:00:00,2018-12-14 00:00:00,36000,declined,booked
20688,2018-10-29 13:42:05.996,private_event,3926,154229,booked,5511,FR,Paris,3.0,150,1,2018-11-21 00:00:00,2018-11-25 00:00:00,800000,declined,submitted

In [86]:
transitions[transitions['idea_id']==105]

,transition_ts,category,idea_id,booking_request_id,to_state,space_id,country,city,portfolio_type,floor_size,floor_size_unit,start_on,end_on,price,to_state_bf,to_state_af
469,2018-10-02 16:05:47.498,popup_shop,105,163097,submitted,4912,GB,London,4.0,50,0,2018-12-17 00:00:00,2018-12-18 00:00:00,12000,declined,submitted
471,2018-10-15 13:53:39.649,popup_shop,105,163097,submitted,4912,GB,London,4.0,50,0,2018-12-17 00:00:00,2018-12-18 00:00:00,12000,submitted,matched
470,2018-10-15 13:53:50.564,popup_shop,105,163097,matched,4912,GB,London,4.0,50,0,2018-12-17 00:00:00,2018-12-18 00:00:00,12000,submitted,booked
472,2018-10-18 12:49:03.029,popup_shop,105,163097,booked,4912,GB,London,4.0,50,0,2018-12-17 00:00:00,2018-12-18 00:00:00,12000,matched,submitted
465,2018-08-22 16:45:05.029,popup_shop,105,153647,submitted,5562,GB,London,4.0,10,0,2018-10-12 00:00:00,2018-10-26 00:00:00,90000,booked,matched
466,2018-08-22 16:47:54.896,popup_shop,105,153647,matched,5562,GB,London,4.0,10,0,2018-10-12 00:00:00,2018-10-26 00:00:00,90000,submitted,matched
467,2018-08-22 16:48:04.665,popup_shop,105,153647,matched,5562,GB,London,4.0,10,0,2018-10-12 00:00:00,2018-10-26 00:00:00,90000,matched,booked
468,2018-08-27 16:12:14.090,popup_shop,105,153647,booked,5562,GB,London,4.0,10,0,2018-10-12 00:00:00,2018-10-26 00:00:00,90000,matched,submitted
460,2018-09-11 10:15:24.893,popup_shop,105,157007,submitted,5562,GB,London,4.0,10,0,2018-11-16 00:00:00,2018-12-21 00:00:00,216000,booked,declined
461,2018-09-11 17:06:15.827,popup_shop,105,157007,declined,5562,GB,London,4.0,10,0,2018-11-16 00:00:00,2018-12-21 00:00:00,216000,submitted,declined
462,2018-10-22 13:34:29.407,popup_shop,105,168109,declined,5562,GB,London,4.0,10,0,2018-11-30 00:00:00,2018-12-14 00:00:00,18000,declined,booked
463,2018-10-24 13:51:03.343,popup_shop,105,168132,booked,5562,GB,London,4.0,10,0,2018-12-07 00:00:00,2018-12-14 00:00:00,12000,declined,booked
464,2018-10-26 12:27:49.410,popup_shop,105,168812,booked,5562,GB,London,4.0,10,0,2018-11-23 00:00:00,2018-11-23 00:00:00,6000,booked,submitted
457,2018-08-18 14:11:54.351,popup_shop,105,152863,submitted,5563,GB,London,4.0,10,0,2018-10-24 00:00:00,2018-10-24 00:00:00,4000,booked,submitted
458,2018-08-22 16:43:19.682,popup_shop,105,152863,submitted,5563,GB,London,4.0,10,0,2018-10-24 00:00:00,2018-10-24 00:00:00,4000,submitted,matched
456,2018-08-22 16:45:12.361,popup_shop,105,152863,matched,5563,GB,London,4.0,10,0,2018-10-24 00:00:00,2018-10-24 00:00:00,4000,submitted,booked
459,2018-08-27 16:00:53.376,popup_shop,105,152863,booked,5563,GB,London,4.0,10,0,2018-10-24 00:00:00,2018-10-24 00:00:00,4000,matched,declined
455,2018-10-17 13:31:37.746,popup_shop,105,166473,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,347187,booked,submitted

In [90]:
transitions[transitions['space_id']==6735]

,transition_ts,category,idea_id,booking_request_id,to_state,space_id,country,city,portfolio_type,floor_size,floor_size_unit,start_on,end_on,price,to_state_bf,to_state_af
455,2018-10-17 13:31:37.746,popup_shop,105,166473,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,347187,booked,submitted
746,2018-12-04 08:48:56.388,popup_bar,159,177547,submitted,6735,GB,London,4.0,80,0,2018-12-04 00:00:00,2018-12-31 00:00:00,196000,declined,declined
745,2018-12-04 09:16:30.343,popup_bar,159,177547,declined,6735,GB,London,4.0,80,0,2018-12-04 00:00:00,2018-12-31 00:00:00,196000,submitted,submitted
2298,2018-11-24 12:37:40.347,popup_bar,449,175820,submitted,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-28 00:00:00,196000,booked,declined
2297,2018-11-26 11:40:50.976,popup_bar,449,175820,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-28 00:00:00,196000,submitted,submitted
3748,2018-11-05 18:40:41.811,popup_shop,734,171163,submitted,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,208732,declined,declined
3749,2018-11-06 10:30:03.170,popup_shop,734,171163,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,208732,submitted,submitted
6889,2018-10-26 11:15:38.806,popup_shop,1343,169287,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,347187,declined,submitted
8661,2018-11-05 17:55:38.198,popup_bar,1675,171152,submitted,6735,GB,London,4.0,80,0,2018-11-27 00:00:00,2018-12-24 00:00:00,196000,declined,declined
8660,2018-11-06 10:29:25.030,popup_bar,1675,171152,declined,6735,GB,London,4.0,80,0,2018-11-27 00:00:00,2018-12-24 00:00:00,196000,submitted,submitted
11964,2018-10-25 08:55:35.615,popup_shop,2329,167407,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,347187,booked,submitted
17389,2018-10-31 17:53:02.226,popup_shop,3355,169292,declined,6735,GB,London,4.0,80,0,2018-12-01 00:00:00,2018-12-31 00:00:00,347187,declined,submitted